/* Universal selector */
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
/* Line 10, body, sets background color */
body {
    background-color: #d9dcd6;
}
/* Line 11, Header Element Class, effects the top of the page creating a blue bar across the top that's 20 pixels in tall */
.header {
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #2a607c;
    color: #ffffff;
}
/* Line 12, This affects the <h1> child element tag inside the <header> tag */
.header h1 {
    display: inline-block;
    font-size: 48px;
}
/* Line 12, affects the <span> class "seo".  stylizes the letters 'seo' in Horiseon in the header to be gray */
.header h1 .seo {
    color: #d9dcd6;
}
/* Line 13, affects <nav> inside the header class. Stylizes the nav tag and children */
.header nav {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}

/* Line 14, affects the <ul> and <li> inside the <nav> in the header class. Makes unordered list items display inline-block */
.header nav ul li {
    display: inline-block;
    margin-left: 25px;
}
/* Line 16, 19, 22, affects all of the anchor tags, which all of which are in the nav bar, making them white with no underline */
.header nav ul li a {
    color: #ffffff;
    text-decoration: none;
}
/* Line 27, element class "hero" displays a background image and stylizes it*/
.hero {
    height: 800px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url("./digital3.png");
    background-size: cover;
    background-position: center;
}
/* Line 30, Line 44 for "float-left, Line 37 for "float-right". These element classes specifies how the content floats, and sets margins */
.float-left {
    float: left;
    margin-right: 25px;
}

.float-right {
    float: right;
    margin-left: 25px;
}
/* Line 51, This element class "benefits" stylizes the container that holds the other benefits classes */
.benefits {
    margin-right: 20px;
    padding: 20px;
    clear: both;
    float: right;
    width: 20%;
    height: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #2589bd;
}

/* Line 52, Line 59, Line 66, this element class sets margins and sets the color to white.  */
.benefits article {
    margin-bottom: 32px;
    color: #ffffff;
}

/* Line 53, Line 60, Line 67, This class element stylizes the text alignment and sets a margin on the bottom for each <h3> in an <article> in the "benefits" element class*/
.benefits article h3 {
    margin-bottom: 10px;
    text-align: center;
}

/* Line 54, Line 61, Line 68, This stylizes the images inside the <article> tags inside the benefits class and sets a max width*/
.benefits article img {
    display: block;
    margin: 10px auto;
    max-width: 150px;
}
/* Line 28, This element class "content" stylizes the container setting width based on display resolution, setting display to inline-block, and sets a margin*/
.content {
    width: 75%;
    display: inline-block;
    margin-left: 20px;
}
/* Line 29, Line 36, Line 43, This effects <article> tags inside the content element class by stylizing the container, setting a background color of blue, and sets the font family and backup fonts */
.content article {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
}
/* Line 32, 39, 46, affects all of the paragraphs in the HTML document */
.content article p {
    font-size: 16px;
}
/* Line 30, Line 37, Line 44, sets a max height of 200px for images */
.content article img {
    max-height: 200px;
}
/* Line 32, Line 38, Line 45, sets a 20px bottom margin, and sets font size of 36px */
.content article h2 {
    margin-bottom: 20px;
    font-size: 36px;
}
